<?xml version="1.0" encoding="utf-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd"
>

    <imports>
        <import resource="regExp.handlers.xml"/>
        <import resource="request.handlers.xml"/>
        <import resource="app.config.xml"/>
    </imports>

    <parameters>
        <parameter key="controllerNs">DD\ContactList\Controller</parameter>
    </parameters>

    <services>

        <defaults autowire="true" public="false"/>
        <prototype namespace="DD\ContactList\" resource="./../../src"/>
        <prototype namespace="DD\ContactList\Infrastructure\"
                   resource="./../../vendor/dd/framework-for-contact-list/src"/>

        <instanceof id="DD\ContactList\Infrastructure\Controller\ControllerInterface" public="true"/>
        <instanceof id="DD\ContactList\Infrastructure\Router\RouterInterface" public="true"/>
        <instanceof id="DD\ContactList\Infrastructure\Console\CommandInterface" public="true"/>


        <service id="DD\ContactList\Config\AppConfig" public="true">
            <factory class="DD\ContactList\Config\AppConfig" method="createFromArray"/>
            <argument key="$config">%app.config%</argument>
        </service>


        <service id="DD\ContactList\Infrastructure\Logger\LoggerInterface"
                 public="true"
                 class="DD\ContactList\Infrastructure\Logger\Logger">
            <argument key="$adapter" type="service"
                      id="DD\ContactList\Infrastructure\Logger\AdapterInterface"/>
        </service>

        <service id="DD\ContactList\Infrastructure\Logger\AdapterInterface" public="false"
                 class="DD\ContactList\Infrastructure\Logger\Adapter\FileAdapter">
            <argument key="$pathToFile" type="service">
                <service>
                    <factory service="DD\ContactList\Config\AppConfig" method="getPathToLogFile"/>
                </service>
            </argument>
        </service>


        <service id="DD\ContactList\Entity\AddressRepositoryInterface" public="false"
                 class="DD\ContactList\Repository\AddressJsonFileRepository">
            <argument key="$pathToAddress" type="service">
                <service>
                    <factory service="DD\ContactList\Config\AppConfig" method="getPathToAddress"/>
                </service>
            </argument>

            <argument key="$contactRepository" type="service" id="DD\ContactList\Entity\ContactRepositoryInterface"/>
            <argument key="$dataLoader" type="service"
                      id="DD\ContactList\Infrastructure\DataLoader\DataLoaderInterface"/>
        </service>

        <service id="DD\ContactList\Entity\ContactRepositoryInterface" public="false"
                 class="DD\ContactList\Repository\ContactJsonFileRepository">
            <argument key="$dataLoader" type="service"
                      id="DD\ContactList\Infrastructure\DataLoader\DataLoaderInterface"/>
            <argument key="$pathToRecipients" type="service">
                <service>
                    <factory service="DD\ContactList\Config\AppConfig" method="getPathToRecipients"/>
                </service>
            </argument>
            <argument key="$pathToCustomers" type="service">
                <service>
                    <factory service="DD\ContactList\Config\AppConfig" method="getPathToCustomers"/>
                </service>
            </argument>
            <argument key="$pathToKinsfolk" type="service">
                <service>
                    <factory service="DD\ContactList\Config\AppConfig" method="getPathToKinsfolk"/>
                </service>
            </argument>
            <argument key="$pathToColleagues" type="service">
                <service>
                    <factory service="DD\ContactList\Config\AppConfig" method="getPathToColleagues"/>
                </service>
            </argument>
        </service>

        <service id="DD\ContactList\Entity\ContactListRepositoryInterface" public="false"
                 class="DD\ContactList\Repository\ContactListRepository">
            <argument key="$pathToContactList" type="service">
                <service>
                    <factory service="DD\ContactList\Config\AppConfig" method="getPathToContactList"/>
                </service>
            </argument>
            <argument key="$dataLoader" type="service"
                      id="DD\ContactList\Infrastructure\DataLoader\DataLoaderInterface"/>
            <argument key="$contactRepository" type="service" id="DD\ContactList\Entity\ContactRepositoryInterface"/>
        </service>

        <service id="DD\ContactList\Infrastructure\DataLoader\DataLoaderInterface" public="false"
                 class="DD\ContactList\Infrastructure\DataLoader\JsonDataLoader"/>

        <service id="DD\ContactList\Infrastructure\ViewTemplate\ViewTemplateInterface" public="false"
                 class="DD\ContactList\Infrastructure\ViewTemplate\PhtmlTemplate"/>

        <service id="DD\ContactList\Infrastructure\Auth\HttpAuthProvider" public="false">
            <argument key="$userDataStorage" type="service"
                      id="DD\ContactList\Infrastructure\Auth\UserDataStorageInterface"/>
            <argument key="$session" type="service" id="DD\ContactList\Infrastructure\Session\SessionInterface"/>
            <argument key="$loginUri" type="service">
                <service>
                    <factory class="DD\ContactList\Infrastructure\Uri\Uri" method="createFromString"/>
                    <argument key="$uri" type="service">
                        <service>
                            <factory service="DD\ContactList\Config\AppConfig" method="getLoginUri"/>
                        </service>
                    </argument>
                </service>
            </argument>
        </service>

        <service id="DD\ContactList\Infrastructure\Auth\UserDataStorageInterface" public="false"
                 class="DD\ContactList\Repository\UserJsonFileRepository">
            <argument key="$pathToUsers" type="service">
                <service>
                    <factory service="DD\ContactList\Config\AppConfig" method="getPathToUsers"/>
                </service>
            </argument>
            <argument key="$dataLoader" type="service"
                      id="DD\ContactList\Infrastructure\DataLoader\DataLoaderInterface"/>
        </service>

        <service id="DD\ContactList\Infrastructure\Session\SessionInterface" public="false">
            <factory class="DD\ContactList\Infrastructure\Session\SessionNative" method="create"/>
        </service>



        <service id="DD\ContactList\Infrastructure\Console\Output\OutputInterface" public="true"
                 class="DD\ContactList\Infrastructure\Console\Output\EchoOutput"/>

        <service id="DD\ContactList\Infrastructure\View\RenderInterface" public="true"
                 class="DD\ContactList\Infrastructure\View\DefaultRender"/>

        <service id="DD\ContactList\Infrastructure\Router\ControllerFactory" public="false">
            <argument key="$diContainer" type="service" id="service_container"/>
        </service>

        <service id="DD\ContactList\Infrastructure\Router\RouterInterface" public="true"
                 class="DD\ContactList\Infrastructure\Router\ChainRouters">
            <argument type="service" id="DD\ContactList\Infrastructure\Router\RegExpRouter"/>
            <argument type="service" id="DD\ContactList\Infrastructure\Router\DefaultRouter"/>
            <argument type="service" id="DD\ContactList\Infrastructure\Router\UniversalRouter"/>
        </service>

        <service id="DD\ContactList\Infrastructure\Router\RegExpRouter">
            <argument key="$handlers">%regExp.handlers%</argument>
            <argument key="$controllerFactory" type="service"
                      id="DD\ContactList\Infrastructure\Router\ControllerFactory"/>
        </service>

        <service id="DD\ContactList\Infrastructure\Router\DefaultRouter">
            <argument key="$handlers">%request.handlers%</argument>

            <argument key="$controllerFactory" type="service"
                      id="DD\ContactList\Infrastructure\Router\ControllerFactory"/>
        </service>

        <service id="DD\ContactList\Infrastructure\Router\UniversalRouter">
            <argument key="$controllerNs">%controllerNs%</argument>
            <argument key="$controllerFactory" type="service"
                      id="DD\ContactList\Infrastructure\Router\ControllerFactory"/>
        </service>

    </services>


</container>